body{
    background-color:#d9edf7;
}

.folder{
    color:red;
    cursor:pointer;
    display: inline;
}
.folder:hover{
    text-decoration:underline;
    color:#4b38ce
}

.file{
    color:#4b38ce;
    cursor:pointer;
}

.file:hover{
    color:red;
}

#panel{
    background-color:#f2f1f0;
}
#navbar{
    background-color:rgba(71, 70, 64, 0.39);
}
.folderDiv{
    margin-top: 10px;
    margin-bottom: 10px;
}

.fileDiv{
    margin-top: 5px;
    margin-bottom: 5px;
}
.path{
    display:inline;
}
.path:hover{
   color:red;
   cursor:pointer;
}