.currentFolder{
    color:red;
}
body{
    background-color:rgba(66, 66, 66, 0.21);
}
.leftPanel{
    float: left;
    font-size:25px;
    background-color: rgba(92, 64, 64, 0.28);
    min-width: 50%;
    max-width: 50%;
    min-height:100%;

}
.rightPanel{
    float:left;
    font-size:20px;
    background-color: rgba(68, 24, 183, 0.34);
    min-width: 50%;
    max-width: 50%;
    min-height:100%;
}