body{
    background-color:#ccc;
    font-size: 14px;
}

.iFrame{
    height: 500px;
    width: 100%;
}

#files{
    overflow-y: scroll;
    height:400px;
}

#folders{
    overflow-y: scroll;
    height:400px;
}

#panel{
    background-color:#f2f1f0;
}

#navbar{
    background-color:rgba(71, 70, 64, 0.39);
}

.navbarPath{
    background-color: #ababab;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.navbarFolder{
    background-color: rgb(171, 171, 171);
    color:red;
    cursor:pointer;
    display: inline;
}

.navbarFolder:hover{
    text-decoration:underline;
    color:#4b38ce
}

.folderDiv{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid grey;
}
.folderDiv:hover{
    background-color: #dacfb5;
}

.folder{
    color:red;
    cursor:pointer;
    display: inline;
}

.fileHeader{
    background-color: rgba(179, 179, 177, 0.79)
}

.fileDiv{
    overflow: hidden;
    cursor:pointer;
}

.fileDiv:hover{
    background-color: #dacfb5;
}

.fileDivSelected{
    overflow: hidden;
    background-color: #dacfb5;
}

.fileName{
    color:red;
    cursor:pointer;
}
.fileDetailDiv{
    border:1px black;
}
.file:hover{
    color:red;
}


.fileDownloadTable{
    border:1px solid black;
}

.fileDownloadTd{
    border:1px solid black;
    padding:0px 10px 0px 10px;
}


.pb-filemng-template {
    margin-top: 40px;
    font-family: 'Sansita', sans-serif;
}

.pb-filemng-navbar {
    margin-bottom: 0;
}

.treeview-toggle-btn {
    margin-left: 15px;
}

.pb-filemng-template-btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    color: gray;
    padding: 0px 13px 0px 13px;
}

.pb-filemng-active {
    border-bottom: 2px solid #6d97db;
    color: #5f6977;
}

.pb-filemng-template-btn:hover {
    color: blue;
}

.pb-filemng-body-folders > img:hover {
    cursor: pointer;
}

.pb-filemng-template-body{
    border-left: 1px solid gray;
}

.btn-align {
    margin-top: 7px;
}

.pb-filemng-template-treeview {
    border-right: 1px solid gray;
}

.pb-filemng-folder {
    color: orange;
    padding-bottom: 3px;
}

.pb-filemng-paragraphs {
    margin-top: -20px;
    text-align: center;
}

.img-responsive {
    margin: 0 auto;
}

@media screen and (max-width: 767px) {

	.pb-filemng-template-treeview {
		border-right: none;
	}

	#options {
		text-align: center;
	}

	#options > li {
		display: inline-block;
	}

	#pb-filemng-navigation > ul {
		text-align: center;
	}

	#pb-filemng-navigation > ul > li {
		display: inline-block;
	}

}
