<head>
    <title>Home server</title>
    <script src="/static/js/jquery.js"></script>
    <script src ="/static/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/index.css">

</head>
<body>
    <h1>Kocka's own HomeServer</h1>
    <h3>Current folder:</h3>
    <h3 class="currentFolder" id ="current_folder">FOLDER NAME</h3>
    <button onclick = "refreshTable()">Refresh</button>
    <button onclick = "moveBack()">Moveback</button>
    <div id="table">
        <div id="title">
            <p>title</p>
        </div>
        <a href="a"></a>
        <div id ="fileTitle">Files</div>
        <div id ="folderTitle">Folders</div>
        <div id ="files" class="leftPanel">
        </div>
        <div id="folders" class="rightPanel"></div>
    </div>
</body>