<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>File Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    <script type="text/javascript" src="/static/js/frame-works/angular.min.js"></script>
    <script src="/static/js/frame-works/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/frame-works/bootstrap.min.js"></script>
    <script src="/static/js/upload.js"></script>
    <script src ="/static/js/controller.js"></script>
    <script src ="/static/js/Iframe.js"></script>
</head>
<body ng-app="myApp">
<div class="container">
    <div ng-controller="headerCtrl" class="page-header">
        <h1>Home server <small>{{ipAddress}}</small></h1>
    </div>
    <div ng-controller="fileCtrl" id ="file_ctrl" style="padding: 0">
        <div class="row">
            <div class=" col-md-10  col-md-offset-1">
                <nav class="navbar navbar-default pb-filemng-navbar">
                    <div id="navbar" class="container-fluid">
                        <div class="navbar-header">
                            <div>
                                <input type="text" placeholder="Search for something..." data-ng-model="fileSearcher">
                            </div>
                            </div>
                        <ul class="nav navbar-nav navbar-right" id="options">
                            <li>
                            </li>
                            <li><a id="compresser" href="compress_folder/{{formattedLocation}}"><span class="fa fa-lg fa-server"></span></a></li>
                            <li><a href="#"><span class="fa fa-upload"  data-toggle="modal" data-target="#uploadModal"></span></a></li>
                            <li><button ng-click="startButterFly()" data-toggle="modal" data-target="#terminalModal">terminal</button></li>
                        </ul>
                        <div id="pb-filemng-navigation">
                            <ul class="nav navbar-nav">
                                <li>
                                    <p id="currentLocation"></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="navbarPath">
                    <a ng-click="moveOutOfFolder()" href="#"><span class="fa fa-chevron-left fa-lg"></span></a>
                    <a ng-click="moveBackAFolder()" href="#"><span class="fa fa-chevron-right fa-lg"></span></a>
                    <div style="display:inline-block" ng-repeat="folder in foldersForNavbar">
                        <span ng-if="!$first"> <i class="fas fa-laptop"></i></span>
                        <button class="navbarFolder" ng-click="moveToFolder(folder.folderPath)" >{{folder.folderName}}</button>
                    </div>
                </div>
                <!--------PANEL-------------------------------------------------------->
                <div id="panel" class="panel panel-default">
                    <div class="panel-body pb-filemng-panel-body">
                        <div class="row">
                            <div id="folders" class="col-md-4 pb-filemng-template-treeview">
                                <div ng-repeat="folder in directoryList | filter:fileSearcher">
                                    <div class="folderDiv" ng-dblclick="moveIntoFolder(folder)">
                                        <p class="folder" data-type="folder">{{ folder }}</p>
                                    </div>
                                </div>
                            </div>
                            <div id="files" class="col-md-8"  >
                                <div class="col-md-12 fileHeader">
                                        <div class="col-md-6">
                                            <button class="btn btn-default" ng-click="sortBy('name')">Name</button>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-default" ng-click="sortBy('modify_date')">Last modified</button>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-default" ng-click="sortBy('size')">Size</button>
                                        </div>
                                </div>
                                <br>
                                <div ng-repeat="file in fileList | filter:fileSearcher | orderBy:propertyName:reverse">
                                <div class="col-md-12 fileDiv" ng-dblclick="openDownloadModal(file)">
                                        <div class="col-md-6 fileDetailDiv">
                                            <p class="fileName" data-target="#downloadModal">{{ file.name }}
                                            </p>
                                        </div>
                                        <div class="col-md-3 fileDetailDiv">
                                            <p class="fileDate">
                                              {{file.readable_modify_date}}
                                            </p>
                                        </div>
                                        <div class="col-md-3 fileDetailDiv">
                                            <p class="fileSize">
                                                {{ file.formatted_size }}
                                            </p>
                                        </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="uploadModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Uploading File</h4>
                    </div>
                    <div class="modal-body">
                        <input id="uploadFile" type="file" name="file" />
                        <button ng-click="uploadFile()" id="uploadFileButton">Upload</button>
                    </div>
                    <div class="modal-footer">
                        <button id="closeButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <div id="progress-wrp">
                            <div class="progress-bar"></div>
                            <div class="status">0%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="downloadModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Downloading File</h4>
                    </div>
                    <div class="modal-body">
                        <h1>You are downloading:</h1>
                        <table class="fileDownloadTable">
                            <tr class="fileDownloadTable">
                                <td class="fileDownloadTd">File name</td>
                                <td class="fileDownloadTd">Last modified</td>
                                <td class="fileDownloadTd">Size</td>
                            </tr>
                            <tr  class="fileDownloadTable">
                                <td class="fileDownloadTd">{{downloadAbleFile.name}}</td>
                                <td class="fileDownloadTd">{{downloadAbleFile.readable_modify_date}}</td>
                                <td class="fileDownloadTd">{{downloadAbleFile.formatted_size}}</td>
                            </tr>
                        </table>
                        <a class="downloadFile" href="/download_file/{{downloadAbleFileLink}}">Download</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a href="/download_file/{{downloadAbleFileLink}}">
                            <button type="button" class="btn btn-default" onClick="dismissModal()">Download</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="terminalModal" class="modal fade" role="dialog">
            <div class="col-md-8 col-md-offset-2">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Remote terminal</h4>
                    </div>
                    <div>
                        <iframe class="iFrame" id="Iframe" ></iframe>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>